﻿@model List<PGM_online.Models.Supervisor>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AllSupervisors</title>
</head>
<body>
    @foreach (Supervisor supervisor in Model)
    {

        @supervisor.Name;<text> has a level of: &nbsp;</text>
        @supervisor.Level;<text>&nbsp;. And has avialability-status as: &nbsp;</text>
        @supervisor.isAvailable.ToString();
        <br />

    }

</body>
</html>
